@import '../variables/Variables'

.homeBody 
    background-color: #010101
    height: auto

.homeContainer
    position: relative
    height: inherit

    h2
        font-family: $fontTwo
        font-size: 3rem
        letter-spacing: 1.3px
        text-transform: capitalize
        margin-bottom: 1.4rem
        padding-left: 2rem
        color: $colorTwo

// ? Should I add more info to the header
// ? Add current constellation in the sky?
// * Begin Header Section
.sectionHeader
    position: relative
    height: 375px
    color: $colorTwo
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-transform: uppercase
    font-family: $fontSix

    h1
        background: linear-gradient(to right, $colorFive, $colorTwelve)
        background-clip: text
        color: transparent
        font-size: 3.2rem
        // color: linear-gradient($colorFive, $colorTwelve)
        letter-spacing: 1.4px
        height: 45%
        width: 50%
        margin: 2rem auto
        text-align: center

    .data
        font-size: 1.4rem
        color: $colorTwelve
        letter-spacing: 1.2px
        margin-top: 2rem
        height: 55%
        display: flex
        gap: 25px

        span
            color: $colorFive

// * End Header Section
    
// * Begin Card Section
.sectionCards
    position: relative
    margin: 0 4rem
    padding: 0 2rem
    // display: flex
    // flex-direction: column
    // align-items: center

.cardsFlex
    display: flex
    flex-wrap: wrap
    justify-content: center


// * End Card Section

// * Begin Timeline Section
.sectionTimeline
    position: relative
    height: 600px
    margin: 0 4rem
    padding: 0 2rem