@import '../variables/Variables'

.navbar 
    background-color: $colorFour
    height: 80px
    display: flex
    justify-content: start
    align-items: center

img 
    height: 45px
    width: 45px
    
.menuBars
    margin-left: 2rem
    font-size: 2rem
    background: none

.navMenu
    background-color: $colorFour
    // color: $colorTwo
    // width: 250px
    // height: 100vh
    // display: flex
    // justify-content: center
    // position: relative
    // top: 0
    // left: -100%
    // transition: 850ms

.navMenuActive 
    // left: 0
    // transition: 350ms

.nav