@mixin custom-scroll-bar
  &::-webkit-scrollbar 
    height: 10px

  &::-webkit-scrollbar-track
    background: transparent

  &::-webkit-scrollbar-thumb 
    background-color: #000
    height: 10px




  