@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;600&family=Itim&family=Lato:ital@1&family=Montserrat&family=Roboto+Slab&family=Trispace:wght@400;600;700;800&display=swap') 

// Primary Colors
$colorOne: #000000
$colorTwo: #ffffff
$colorThree: #150050
$colorFour: #3F0071
$colorFive: #FB2576

// Secondary Colors
$colorSix: #3D1766
$colorSeven: #6F1AB6
$colorEight: #FF0032
$colorNine: #CD0404
$colorTen: #FCD900
$colorEleven: #FF0000
$colorTwelve: #1a83ff
$colorThirteen: #333334

// Fonts
$fontOne: 'Catamaran', sans-serif
$fontTwo: 'Itim', cursive
$fontThree: 'Lato', sans-serif
$fontFour: 'Montserrat', sans-serif
$fontFive: 'Roboto Slab', serif
$fontSix: 'Trispace', sans-serif